{% extends 'base.html'%}

{% block nav %}
    <!-- login 페이지에서는 nav를 포함하지 않음 -->
{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'login.css' %}?after">
<h2>청원고등학교 기숙사 관리 홈페이지 로그인</h2>
<div class="container" id="container">
  
  <div class="form-container sign-in-container">
    <form method="post" action="{% url 'common:login' %}">
      {% csrf_token %}
      {% include "form_errors.html" %}
      <h1>로그인</h1>
      <div class="social-container">
        <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
        <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
      </div>
      <span>안내한 인증코드로 로그인 해 주세요.</span>
      <input type="text" name="username" id="username" placeholder="학번" value="{{ form.username.value|default_if_none:'' }}"/>
      <input type="password"name="password" id="password" placeholder="인증코드" value="{{ form.password.value|default_if_none:'' }}"/>
      <a href="#">인증코드를 잃어버리셨나요?</a>
      <button>로그인</button>
    </form>
  </div>
  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-left">
        <h1>회원이 되신것을 환영합니다!</h1>
        <p>되돌아가 로그인을 원하시면 아래 버튼을 클릭해주세요.</p>
        <button class="ghost" id="signIn">로그인</button>
      </div>
      <div class="overlay-panel overlay-right">
        <h1>안녕하세요,<br> 학부모님!</h1>
        <p>로그인하여 기숙사의 외출/외박을 신청하세요!</p>
        <!--<button class="ghost" id="signUp">회원 가입</button> -->
      </div>
    </div>
  </div>
</div>
<script>
  const signUpButton = document.getElementById('signUp');
  const signInButton = document.getElementById('signIn');
  const container = document.getElementById('container');
  
    signUpButton.addEventListener('click', () => {
      container.classList.add("right-panel-active");
    });
  
    signInButton.addEventListener('click', () => {
      container.classList.remove("right-panel-active");
    });
</script>
{% endblock %}

