
<!-- 네비게이션바 -->
<nav class="navbar">
    <div class="nav_logo">
      <a href="{% url 'common:login' %}"><span>ETAdom</span></a>
    </div>
    <!-- 햄버거 메뉴 버튼 -->
    <div class="navbar-toggle">&#9776;</div>
    <!-- 메뉴 요소-->
    <ul class="nav_menu">
      <li><a href="{% url 'common:login' %}">구룡관</a></li>
      <li><a href="{% url 'common:login' %}">목령관</a></li>
      {% if user.is_authenticated %}
      <li><a href="{% url 'common:logout' %}">{{ user.username }}(로그아웃)</a></li>
      {% else %}
      <li><a href="{% url 'common:login' %}">로그인</a></li>
      <!--<li><a href="{% url 'common:login'%}">회원가입</a></li> -->
      {% endif %}
    </ul>
  </nav>
  <script>
    // 햄버거 메뉴 버튼을 클릭했을 때 메뉴를 보여주거나 숨기는 JavaScript 코드
    document.querySelector('.navbar-toggle').addEventListener('click', function() {
      document.querySelector('.nav_menu').classList.toggle('show');
    });
  </script>